{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mb-3 mt-4 p-0">
        <div class="row">
            {% if Jefe %}
                <div class="col"><b>Jefe/a: </b>{{ Jefe.last_name }}, {{ Jefe.first_name }} </div>
            {% endif %}
        </div>
    </div>  

        <form method="post" action="{% url 'Operarios:jefes_fiscales' Jefe.id %}">
                {% csrf_token %}
                <div class="row">
                <div class="col-md-12">
              
                        <select name="fiscales_disp" class="keep-order" id="fiscales_disp" multiple='multiple'>
                            {% for fiscal_disp in Fiscales_disp %}
                                <option value="{{fiscal_disp.id}}">{{ fiscal_disp.last_name }} , {{ fiscal_disp.first_name }} </option>
                            {% endfor %}
                            {% for fiscal_asig in Fiscales %}
                                <option value="{{fiscal_asig.id}}" selected>{{ fiscal_asig.last_name }} , {{ fiscal_asig.first_name }} </option>
                            {% endfor %}
                        </select>
                       
                    </div>
            </div>
            <div class="col-md-12" style="    text-align: right;margin: 15px 0px;padding: 0px !important;">
                <a href='{% url 'Operarios:jefes_list' %}' class='btn btn-danger'>Volver</a>   
                <button type="submit" class='btn btn-primary '>Guardar</button>
            </div>
            
        </form>
           

<!--     
    <h2>Fiscales asignados de Operaciones</h2>
    <div class="container-fluid mb-3 mt-4">
        <div class="row">
            {% if Jefe %}
                <div class="col"><b>Jefe/a: </b>{{ Jefe.last_name }}, {{ Jefe.first_name }} </div>
            {% endif %}
        </div>
    </div>
  
    <table id="tablePreview" class="table table-hover table-sm">
   
    <thead>
        <tr>
            <th>#</th>
            <th>Fiscal</th>
            <th>Punto de Servicio</th>
            <th>Desasignar</th>
        </tr>
    </thead>

    <tbody>
        {% if Fiscales %}
        {% for fiscal in Fiscales %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ fiscal.last_name }}, {{ fiscal.first_name }}</td>
            <td> <a class='btn btn-primary btn-sm' href='{% url 'Operarios:fiscales_asig' fiscal.id %}'>Puntos de Servicio</a> </td>
            <td> <a class='btn btn-danger btn-sm' href='{% url 'Operarios:jefes_del' Jefe.id fiscal.id %}'>Desasignar</a> </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
  
    </table>

    <a class='btn btn-success btn-sm' href='' data-toggle="modal" data-target="#exampleModalCenter"> Asignar Fiscal </a>
    <a class='btn btn-secondary btn-sm' href='{% url 'Operarios:jefes_list' %}' > Volver </a>


    
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Fiscales no Asignados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
        
            <table id="tablePreview" class="table table-hover table-sm">
      
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fiscal</th>
                    <th>Seleccionar</td>
                </tr>
            </thead>
        
            <tbody>
                {% if Fiscales_disp %}
                {% for fiscal in Fiscales_disp %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ fiscal.last_name }}, {{ fiscal.first_name }}</td>
                    <td><a class="btn btn-primary btn-sm" href='{% url 'Operarios:jefes_asig' Jefe.id fiscal.id %}'>Asignar</button></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
       
            </table>
      
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
    </div> -->
    <script>
        $('#fiscales_disp').multiSelect(
            {
                selectableHeader: "<h5 class='custom-header'>Fiscales Disponibles</h5>",
                selectionHeader: "<h5 class='custom-header'>Fiscales Asignados</h5>"
            }
        );
        $('#select-all').click(function(){
             $('#fiscales_disp').multiSelect('select_all');
             return false;
        });
        $('#deselect-all').click(function(){
            $('#fiscales_disp').multiSelect('deselect_all');
            return false;
        });
    </script>
   
{% endblock %}