{% extends "base.html" %}
{% url 'Operarios:marcaciones_xls' as marcaciones_xls %}
{% load static %}
{% block title %}Marcaciones{% endblock %}

{% block base_head %}
<link href="{% static 'style/overrride.css' %}" type="text/css" media="all" rel="stylesheet">
</link>
{% endblock %}

{% block content %}

<h1 class='my-3'>Asignación de Jefes a Fiscaless</h1>


<div id="jsGrid"></div>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $("#jsGrid").jsGrid({
                height: "100%",
                width: "100%",
                filtering: true,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pagerFormat: "Páginas: {first} {prev} {pages} {next} {last}    {pageIndex} de {pageCount}",
                pageButtonCount: 1,
                pagePrevText: "Anterior",
                pageNextText: "Siguiente",
                pageFirstText: "Primera",
                pageLastText: "Ultima",
                noDataContent: "No se han encontrado registros",
                confirmDeleting:true,
                loadMessage: "Por favor, espere...",
                invalidMessage: "Datos no válidos",
                pageLoading:true,
                rownumbers:true,
                controller: {
                    loadData: function (filter) {
                        var d = $.Deferred();
                        $.ajax({
                            type: "GET",
                            url: "/reingenieria/operaciones/jefesAsignar/listar/",
                            data: filter
                        }).done(function (result) {
                            console.log(result);
                            var resp={}
                            resp.data=result.data;
                            resp.itemsCount=result.itemsCount
                            d.resolve(resp)
                        });

                        return d.promise();
                    },
                },
                data:[{
                    index:0
                }],
                fields: [
                    {name:"first_name",type:"text", width:50, title:"Nombres"},
                    {name:"last_name",type:"text", width:50, title:"Apellidos"},
                    { type: "control",
                    itemTemplate: function(value, item) {
                        var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                        var $Asignar = $("<button>").attr({class: "btn btn-guardar fa fa-users fa-lg"})
                        .click(function(e) {
                            document.location.href="/reingenieria/operaciones/jefes/asignar/"+item.id
                        });


                        return $("<div>").append($Asignar);
                    },
                        title:"Asignar Fiscal"
                    },                  
        ]



            });
        });
        
    </script>

<style>

.btn-guardar {
background-color:transparent !important;
border: none;
background-repeat: no-repeat;
border-color:transparent !important;
color:#86273e;
cursor: pointer;
} 

.btn-guardar:hover{
color: #550519;

}
</style>
    
{% endblock %}