{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>Planificacion de Puntos de Servicio</h2>
    
    <form method='POST' action=''> 
    {% csrf_token %}
        <div class="form-group">
        <label for="exampleFormControlSelect1">Punto de Servicio:</label>
        <select class="form-control" id="exampleFormControlSelect1" name="plani_puntoServ">
            {% if PuntosServicio %}
                {% for puntosSer in PuntosServicio %}
                        <option value={{ puntosSer.id }}>{{ puntosSer.NombrePServicio }}</option>
                {% endfor %}
            {% endif %}
        </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Planificar">
    </form>
{% endblock %}