{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
            <h2>Asignación de Puntos de Servicio</h2>
    </div>
</div>
    <div class="container-fluid mb-3 mt-4  p-0">
        <div class="row">
            {% if Fiscal %}
                <div class="col"><h5>Fiscal: <p style="    display: inline;
                    font-weight: 100;">{{ Fiscal.last_name }}, {{ Fiscal.first_name }}</p> </h5> </div>
            {% endif %}
        </div>
    </div>
    <form method="post" action="{% url 'Operarios:fiscales_puntos' Fiscal.id %}">
        {% csrf_token %}
        <div class="row">
        <div class="col-md-12">
            
                <select name="puntos_disp" class="keep-order" id="puntos_disp" multiple='multiple'>
                    {% for puntoS in PuntosSer_disp %}
                        <option value="{{puntoS.id}}">{{ puntoS.CodPuntoServicio }} - {{ puntoS.NombrePServicio }} </option>
                    {% endfor %}
                    {% for puntoS in PuntosSer %}
                        <option value="{{puntoS.id}}" selected>{{ puntoS.CodPuntoServicio }} - {{ puntoS.NombrePServicio }} </option>
                    {% endfor %}
                </select>
            </div>
    </div>
    <div class="col-md-12" style="    text-align: right;margin: 15px 0px;padding: 0px !important;">
        <a href='{% url 'Operarios:fiscales_list' %}' class='btn btn-primary btn-cancelar'><i class="fa fa-arrow-left fa-lg"></i> Volver</a>
        <button type="submit" class='btn btn-success btn-add'><i class="fa fa-floppy-o fa-lg"></i> Guardar</button>
    </div>
    
</form>
<!--   
    <table id="tablePreview" class="table table-hover table-sm">
   
    <thead>
        <tr>
            <th>#</th>
            <th>Punto de Servicio</th>
            <th>Desasignar</th>
        </tr>
    </thead>
 
    <tbody>
        {% if PuntosSer %}
        {% for puntoS in PuntosSer %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ puntoS.CodPuntoServicio }} - {{ puntoS.NombrePServicio }}</td>
            <td> <a class='btn btn-danger btn-sm' href='{% url 'Operarios:fiscales_del' Fiscal.id puntoS.id %}'>Desasignar</a> </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>

    </table>
  
    <a class='btn btn-success btn-sm' href='' data-toggle="modal" data-target="#exampleModalCenter"> Asignar Punto de Servicio </a>
    <a class='btn btn-secondary btn-sm' href='{% url 'Operarios:jefes_list' %}' > Volver </a>


  
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Punto de Servicio no Asignados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
         
            <table id="tablePreview" class="table table-hover table-sm">
            
            <thead>
                <tr>
                    <th>#</th>
                    <th>Punto de Servicio</th>
                    <th>Seleccionar</td>
                </tr>
            </thead>
           
            <tbody>
                {% if PuntosSer_disp %}
                {% for puntoS in PuntosSer_disp %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ puntoS.CodPuntoServicio }} - {{ puntoS.NombrePServicio }}</td>
                    <td><a class="btn btn-primary btn-sm" href='{% url 'Operarios:fiscales_asig' Fiscal.id puntoS.id %}'>Asignar</button></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        
            </table>
       
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
    </div>
    </div> -->
    <script>
        $('#puntos_disp').multiSelect(

            {
                selectableHeader: "<h5 class='custom-header'>Puntos de Servicio Disponibles</h5>",
                selectionHeader: "<h5 class='custom-header'>Puntos de Servicio Asignados</h5>"
            }
        );
        $('#select-all').click(function(){
             $('#puntos_disp').multiSelect('select_all');
             return false;
        });
        $('#deselect-all').click(function(){
            $('#puntos_disp').multiSelect('deselect_all');
            return false;
        });
    </script>
    <style>
        .btn-add {
            background-color: #86273e !important;
            border-color: #86273e !important;
            padding: 7px 7px;
            cursor: pointer;
        }
        .btn-volver {
            background-color: gray !important;
            border-color: gray !important;
            padding: 7px 7px;
    
        }
    </style>
{% endblock %}