{% load static %}
{% url 'home' as home_url %}
{% url 'Operarios:planificar_list' as planificacion_url %}
{% url 'Operarios:asignacion_list' as asignacion_url %}
{% url 'Operarios:puntoServicio_list' as punto_servicio_url %}
{% url 'Operarios:operarios_vista' as operarios_url %}
{% url 'Operarios:jefes_list' as jefes_url %}
{% url 'Operarios:marcaciones_url' as marcaciones_url %}
{% url 'Operarios:feriados_url' as feriados_url %}
{% url 'Operarios:fiscales_list' as fiscales_url %} 
{% url 'remplazos' as remplazos_url %}
{% url 'Operarios:alertas_list' as alertas_url %}

<script>

$("#salir").on('click',"a[data-window='external']", function() {
    window.open($(this).attr('href')); 
    return false; 
});
</script>
<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #7A0C25;">
    <div class='container' style="width: 100% !important;
    max-width: 100%;">
        <a class="navbar-brand" href="{{ home_url }}">
            <img src="{% static 'logo-blanco.png' %}" height="30" class="d-inline-block align-top" alt="El mejor">
        </a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapseLinks' aria-expanded='false' aria-label='Toggle Navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapseLinks">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == planificacion_url %}active{% endif %}">
                    <a class="nav-link" href="{{ planificacion_url }}">Planificación <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == asignacion_url %}active{% endif %}">
                    <a class="nav-link" href="{{ asignacion_url }}">Asignación</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Operaciones
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ punto_servicio_url }}">Puntos de Servicio</a>
                    <a class="dropdown-item" href="{{ operarios_url }}">Operarios</a>
                    <a class="dropdown-item" href="/reingenieria/operaciones/jefes/listar">Jefes</a> 
                    <a class="dropdown-item" href="/reingenieria/operaciones/fiscales/listar">Fiscales</a>
                    <a class="dropdown-item" href="{{ feriados_url}}">Feriados</a>
                    
                </div> 
                </li>
                <li class="nav-item {% if request.path == marcaciones_url %}active{% endif %}">
                    <a class="nav-link" href="{{marcaciones_url}}">Marcaciones</a>
                </li>
                <li class="nav-item {% if request.path == remplazos_url %}active{% endif %}">
                    <a class="nav-link" href="{{ remplazos_url }}">Reemplazos</a>
                </li>
                <li class="nav-item {% if request.path == alertas_url %}active{% endif %}">
                    <a class="nav-link" href="{{ alertas_url }}">Alertas</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reportes
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Reporte 1</a>
                    <a class="dropdown-item" href="#">Reporte 2</a>
                    <a class="dropdown-item" href="#">Reporte 3</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    <!--a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a-->
                    </div>
                </li>
                <li class="nav-item">
                    {{request.user.username}}
                </li>
            </ul>
        </div>

        <!-- Small modal -->
        <div class="modal" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4>Salir <i class="fa fa-lock"></i></h4>
            </div>
            <div class="modal-body">
                <p><i class="fa fa-question-circle"></i> Esta seguro que desea salir? <br /></p>
                <div class="actionsBtns">
                        <a id='salir' href="{% url 'logout' %}" class="btn btn-primary" data-dismiss="modal" value="Logout" data-window="external" />Logout</a>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>
            </div>
            </div>
        </div>
        </div>

    </div>
</nav>