{% extends "base.html" %}
{% load static %}
{% block base_head %}
<link href="{% static 'style/overrride.css' %}" type="text/css" media="all" rel="stylesheet">
</link>
{% endblock %}
{% block content %}

<h2>Operarios</h2>
<form method='POST' action='' id="formOperarios">
    {% csrf_token %}
    <div class="form-group">
        <a class='btn btn-primary btn-agregar' style="float: right;margin: 10px 0px"
            href='{% url 'Operarios:operarios_create' %}'> <i class="fa fa-plus"></i> Nuevo </a>
        <div id="jsGrid"></div>
    </div>
</form>
{% endblock %}
{% block scripts %}

<script>
    $(function () {

        $("#jsGrid").jsGrid({
            width: "100%",
            filtering: true,
            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 10,
            pagerFormat: "Páginas: {first} {prev} {pages} {next} {last}    {pageIndex} de {pageCount}",
            pageButtonCount: 1,
            pagePrevText: "Anterior",
            pageNextText: "Siguiente",
            pageFirstText: "Primera",
            pageLastText: "Ultima",
            noDataContent: "No se han encontrado registros",
            confirmDeleting: true,
            deleteConfirm: "Esta seguro, que desea eliminar el registro?",
            loadMessage: "Por favor, espere...",
            invalidMessage: "Datos no válidos",
            pageLoading: true,
            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();
                    $.ajax({
                        type: "GET",
                        url: "/reingenieria/operaciones/operarios/listar",
                        data: filter
                    }).done(function (result) {
                        var resp = {}
                        resp.data = result.data;
                        resp.itemsCount = result.itemsCount
                        d.resolve(resp)
                    });

                    return d.promise();
                },

            },



            fields: [
                { name: "nroLegajo", type: "text", width: 50, title: "Legajo" },
                { name: "numCedula", type: "text", width: 50, title: "C.I" },
                { name: "nombre", type: "text", width: 50, title: "Nombre" },
                { name: "apellido", type: "text", width: 50, title: "Apellido" },
                {
                    type: "control",
                    itemTemplate: function (value, item) {
                        var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                        var $customEditButton = $("<button>").attr({ class: "customGridEditbutton jsgrid-button jsgrid-edit-button", type:"button" })
                            .click(function (e) {
                                document.location.href = "/reingenieria/operaciones/operarios/editar/" + item.id
                            });

                        var $customDeleteButton = $("<button>").attr({ class: "customGridDeletebutton jsgrid-button jsgrid-delete-button", type:"button" })
                            .click(function (e) {
                                if (confirm("Esta seguro que desea eliminar el registro")) {
                                    document.location.href = "/reingenieria/operaciones/operarios/eliminar/" + item.id

                                }
                            });

                        return $("<div>").append($customEditButton).append($customDeleteButton);



                        /*var editDeleteBtn = $('<input class="jsgrid-button jsgrid-edit-button" type="button" title="Edit"><input class="jsgrid-button jsgrid-delete-button" type="button" title="Delete">')
                    .on('click', function (e) {
                        
                        if (e.target.title == 'Edit') { //se redirecciona
                            
                            document.location.href="/reingenieria/operaciones/operarios/editar/"+item.id
                        } else {
                            //Based on button click you can make your customization
                            console.log('Delete')
                        }
                    });
    
                return editDeleteBtn; //*/
                    }
                },


            ]
        });

    });

    function myFormatter(cellvalue, options, rowObject) {
        return cellvalue + " " + rowObject.nombre + " " + rowObject.apellido;
    }

</script>
<style>
    .jsgrid-grid-header,
    .jsgrid-grid-body {
        overflow: auto;
    }

    .jsgrid-header-sort-asc:before {
        margin: 6px !important;
        border-width: 0 5px 10px !important;
        border-color: transparent transparent #ffffff !important;
    }

    .jsgrid-header-sort-desc:before {
        border-width: 10px 5px 0;
        margin: 5px !important;
        border-color: #ffffff transparent transparent;
    }
</style>
{% endblock %}