{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    {% if title %}<h1 class='my-3'>{{ title }}</h1>{% endif %}
    <form method='POST' action='#' name='formulario' id='formulario'>
        <input type="hidden" id="action" name="action" value="">
        {% csrf_token %}

        <div class="col-lg-12 col-md-12">
            <div class="row mt-3">
                <div class="col h4"><u><strong> Punto de Servicio:</strong></u>
                    ({{ pservicio.CodPuntoServicio }}) - {{ pservicio.NombrePServicio }}
                    {{ form.puntoServicio.as_hidden  }} </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <p class="font-weight-bold"> Totales </p>
                </div>
                <div class="col-4">
                    <p class="font-weight-bold text-center"> Semanales (Lunes a Sabado)</p>
                </div>
                <div class="col-4">
                    <p class="font-weight-bold text-center"> Domingo </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2"> Total Hrs: </div>
                <div class="col-1"> <input id="sumAll_total" type="text" value="{{ relevamiento.cantidadHrTotal }}"
                        class="form-control form-control-sm" readonly /> </div>
                <div class="col-1"> Diurnas: </div>
                <div class="col-1"> <input id="tot_sem_diu" type="text" value="{{ sem_diurno }}"
                        class="form-control form-control-sm" readonly /> </div>
                <div class="col-1"> Nocturnas: </div>
                <div class="col-1"> <input id="tot_sem_noc" type="text" value="{{ sem_nocturno }}"
                        class="form-control form-control-sm" readonly /> </div>
                <div class="col-1"> Diurnas: </div>
                <div class="col-1"> <input id="tot_dom_diu" type="text" value="{{ dom_diurno }}"
                        class="form-control form-control-sm" readonly /> </div>
                <div class="col-1"> Nocturnas: </div>
                <div class="col-1"> <input id="tot_dom_noc" type="text" value="{{ dom_nocturno }}"
                        class="form-control form-control-sm" readonly /> </div>
            </div>
            <div class="row mt-3">
                <div class="col-2"> Total Hrs Asignadas: </div>
                <div class="col-1"> <input type="text" name="totalasignado" class="form-control form-control-sm" value="" maxlength="8" required="" id="id_totalasignado"></div>
                <div class="col-1"> Asignada: </div>
                <div class="col-1"> <input id="sum_sem_diu" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
                <div class="col-1"> Asignada: </div>
                <div class="col-1"> <input id="sum_sem_noc" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
                <div class="col-1"> Asignada: </div>
                <div class="col-1"> <input id="sum_dom_diu" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
                <div class="col-1"> Asignada: </div>
                <div class="col-1"> <input id="sum_dom_noc" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
            </div>
            <hr />
            <div class="row mt-3">
                <div class="col-2"> Total Hrs Restante: </div>
                <div class="col-1"> <input id="sumAll_resto" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
                <div class="col-1"> Restantes: </div>
                <div class="col-1"> <input id="res_sem_diu" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
                <div class="col-1"> Restantes: </div>
                <div class="col-1"> <input id="res_sem_noc" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
                <div class="col-1"> Restantes: </div>
                <div class="col-1"> <input id="res_dom_diu" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
                <div class="col-1"> Restantes: </div>
                <div class="col-1"> <input id="res_dom_noc" type="text" value="" class="form-control form-control-sm"
                        readonly /> </div>
            </div>
        </div>


        {{ asigDetFormSet.management_form }}

        <!--Formulario de Servicios Particulares-->

        <div class="container-main col-lg-12 col-md-12" id='formset-det'>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h4>
                        Asignación de Horas <small class="text-muted">Definicion de operarios y horas</small>
                    </h4>
                </div>

            </div>

            <div class="row container-main">
                <div class="col-lg-12 col-md-12" style="text-align: right;margin-bottom: 15px;">
                    <button type='button' id='btnDet' class="btn btn-info" name='add_det'>
                        <i class="fa fa-plus"></i>Agregar Detalle</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 p-0 mt-3" style="text-align: center;"> Operario </div>
                <div class="col p-0 text-center"> Horas Requeridas </div>
                <div class="col p-0 text-center"> Lunes </div>
                <div class="col p-0 text-center"> Martes </div>
                <div class="col p-0 text-center"> Miercoles </div>
                <div class="col p-0 text-center"> Jueves </div>
                <div class="col p-0 text-center"> Viernes </div>
                <div class="col p-0 text-center"> Sabado </div>
                <div class="col p-0 text-center"> Domingo </div>
                <div class="col-1 p-0 text-center"> Eliminar? </div>
            </div>
            <!-- data-toggle="modal" data-target="#modalFiltro" -->
           
            {% for form in asigDetFormSet %}
            
            <div class="row mt-2 leaveForm" id="leaveForm-{{ forloop.counter0 }}" style="    margin-bottom: 30px;">
                <div class="col-md-4">
                    <div class="row" style="margin: 0px 0px 10px 0px;">
                        <div class="col-md-4 text-center p-0">
                            <button  type="button" class="btn btn-info btn-block btn-filter_operario" id="filter_operario-{{forloop.counter0}}" onclick="buscarOperario({{ forloop.counter0 }})" name='filter_operario' style="    height: 39px;
                                        border-top-right-radius: 0px;
                                        border-bottom-right-radius: 0px;" disabled ><i class="fa fa-search"></i></button>
                        </div>
                        
                       <input type="hidden" name="asignaciondet_set-{{ forloop.counter0 }}-id" id="id_asignaciondet_set-{{ forloop.counter0 }}-id" value="{{ pservicio.id }}">
                       <input type="hidden" id="openModal" value="{{openModal}}">
                       <input type="hidden" id="idModal" value="{{idModal}}">
                        <!-- {{ form.id }} -->
                        <div class="col-md-8 p-0">
                                {{form.operario}}
                                <select name="operario-{{forloop.counter0}}" class="form-control form-control-sm " readonly="readonly" style="height:39px !important" disabled="disabled" id="operario-{{forloop.counter0}}">
                                        <option value=""></option>
                                    {% for ope in allOperarios %}   
                                        <option value="{{ope.id}}">{{ope.nroLegajo}}-{{ope.nombre}}</option>
                                    {% endfor %}
                                </select>
                                <!-- <input type="text" id="nombres-{{ forloop.counter0 }}-operario" class="form-control form-control-sm" style="height:39px !important" disabled> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group date">
                                <input type="text" value="{{form.fechaInicio.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-fechaInicio" placeholder="Fecha Inicio"
                                    class="form-control" id="id_asignaciondet_set-{{ forloop.counter0 }}-fechaInicio"
                                    dp_config="{&quot;id&quot;: &quot;dp_19&quot;, &quot;picker_type&quot;: &quot;DATE&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;locale&quot;: &quot;es&quot;, &quot;format&quot;: &quot;YYYY-MM-DD&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group date">
                                <input type="text" value="{{form.fechaFin.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-fechaFin" placeholder="Fecha Fin"
                                    class="form-control" id="id_asignaciondet_set-{{ forloop.counter0 }}-fechaFin"
                                    dp_config="{&quot;id&quot;: &quot;dp_19&quot;, &quot;picker_type&quot;: &quot;DATE&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: true, &quot;locale&quot;: &quot;es&quot;, &quot;format&quot;: &quot;YYYY-MM-DD&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="row input-horas">
                        <div class="col pl-0">
                            <div class="input-group date" style="    margin: 0px 0px 10px 0px;
                                    height: 39px;">
                                <input type="text" value="{{form.totalHoras.data |default_if_none:''}}" name="asignaciondet_set-{{ forloop.counter0 }}-totalHoras"
                                    class="form-control form-control-sm" readonly="readonly" maxlength="8"
                                    id="id_asignaciondet_set-{{ forloop.counter0 }}-totalHoras">
                            </div>
                           
                        </div>
                        <div class="col pl-0">
                            <div class="input-group date" style="margin:0px 0px 16px 0px;">
                                <input type="text" value="{{form.lunEnt.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-lunEnt"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-lunEnt"
                                    dp_config="{&quot;id&quot;: &quot;dp_20&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                            <div class="input-group date">
                                <input type="text" value="{{form.lunSal.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-lunSal"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-lunSal"
                                    dp_config="{&quot;id&quot;: &quot;dp_21&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: &quot;dp_20&quot;, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <div class="input-group date" style="margin:0px 0px 16px 0px;">
                                <input type="text" value="{{form.marEnt.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-marEnt"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-marEnt"
                                    dp_config="{&quot;id&quot;: &quot;dp_22&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                            <div class="input-group date">
                                <input type="text" value="{{form.marSal.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-marSal"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-marSal"
                                    dp_config="{&quot;id&quot;: &quot;dp_23&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: &quot;dp_22&quot;, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <div class="input-group date" style="margin:0px 0px 16px 0px;">
                                <input type="text" value="{{form.mieEnt.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-mieEnt"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-mieEnt"
                                    dp_config="{&quot;id&quot;: &quot;dp_24&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                            <div class="input-group date">
                                <input type="text" value="{{form.mieSal.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-mieSal"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-mieSal"
                                    dp_config="{&quot;id&quot;: &quot;dp_25&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: &quot;dp_24&quot;, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <div class="input-group date" style="margin:0px 0px 16px 0px;">
                                <input type="text" value="{{form.jueEnt.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-jueEnt"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-jueEnt"
                                    dp_config="{&quot;id&quot;: &quot;dp_26&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                            <div class="input-group date">
                                <input type="text" value="{{form.jueSal.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-jueSal"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-jueSal"
                                    dp_config="{&quot;id&quot;: &quot;dp_27&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: &quot;dp_26&quot;, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <div class="input-group date" style="margin:0px 0px 16px 0px;">
                                <input type="text" value="{{form.vieEnt.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-vieEnt"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-vieEnt"
                                    dp_config="{&quot;id&quot;: &quot;dp_28&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                            <div class="input-group date">
                                <input type="text" value="{{form.vieSal.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-vieSal"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-vieSal"
                                    dp_config="{&quot;id&quot;: &quot;dp_29&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: &quot;dp_28&quot;, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <div class="input-group date" style="margin:0px 0px 16px 0px;">
                                <input type="text" value="{{form.sabEnt.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-sabEnt"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-sabEnt"
                                    dp_config="{&quot;id&quot;: &quot;dp_30&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                            <div class="input-group date">
                                <input type="text" value="{{form.sabSal.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-sabSal"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-sabSal"
                                    dp_config="{&quot;id&quot;: &quot;dp_31&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: &quot;dp_30&quot;, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <div class="input-group date" style="margin:0px 0px 16px 0px;">
                                <input type="text" value="{{form.domEnt.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-domEnt"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-domEnt"
                                    dp_config="{&quot;id&quot;: &quot;dp_32&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: null, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                            <div class="input-group date">
                                <input type="text" value="{{form.domSal.data}}" name="asignaciondet_set-{{ forloop.counter0 }}-domSal"
                                    class="form-control form-control-sm" id="id_asignaciondet_set-{{ forloop.counter0 }}-domSal"
                                    dp_config="{&quot;id&quot;: &quot;dp_33&quot;, &quot;picker_type&quot;: &quot;TIME&quot;, &quot;linked_to&quot;: &quot;dp_32&quot;, &quot;options&quot;: {&quot;showClose&quot;: true, &quot;showClear&quot;: true, &quot;showTodayButton&quot;: false, &quot;useCurrent&quot;: false, &quot;stepping&quot;: 5, &quot;format&quot;: &quot;HH:mm&quot;}}">
                                <div class="input-group-addon input-group-append" data-target="#datetimepicker1"
                                    data-toggle="datetimepickerv">
                                    <div class="input-group-text"><i class="glyphicon glyphicon-time"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-1 pl-0" style="display: flex;
                                justify-content: center;
                                align-items: center;
                                color: red !important;
                                font-size: 25px;">
                            <input type="checkbox" style="display:none"
                                name="asignaciondet_set-{{ forloop.counter0 }}-{{ form.DELETE.name }}"
                                id="{{ form.DELETE.id_for_label }}" />
                            <a href="javascript:void(0);" onclick="deleteLeaveRow(this, {{ forloop.counter0 }});"
                                class="remove muted pull-right">
                                <div class="fa fa-trash" title="Eliminar" alt="Eliminar"></div><span
                                    class="visible-xs"></span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
                        <!-- Modal -->
            <div class="modal fade" id="modalFiltro{{forloop.counter0}}" tabindex="-1" role="dialog" aria-labelledby="modalFiltro" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalFiltro">Asignar Operario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <table id="table" class="table table-hover table-sm mt-3">
                
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>
                                                <span style="display:block !important;margin-bottom:10px !important;">Nombre</span>
                                                <p><input class="form-control" type="text" id="filter1"></p>
                
                                            </th>
                                            <th>
                                                <span style="display:block !important;margin-bottom:10px !important;">Legajo</span>
                                                <p><input class="form-control" type="text" id="filter2"></p>
                
                                            </th>
                                            <th>
                                                <span style="display:block !important;margin-bottom:10px !important;">Antiguedad (años)</span>
                                                <p><input class="form-control" type="text" id="filter3"></p>
                
                                            </th>
                                            <th>
                                                <span style="display:block !important;margin-bottom:10px !important;">Otros contratos</span>
                                                <p><input class="form-control" type="text" id="filter4"></p>
                
                                            </th>
                                            <th>
                                                <span style="display:block !important;margin-bottom:10px !important;">Total Horas</span>
                                                <p><input class="form-control" type="text" id="filter5"></p>
                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% if operarios %}
                                    {% for op in operarios %}
                                        <tr class="data" onclick="seleccionarOpe({{op.id_operario}},{{forloop.parentloop.counter0}},encodeURIComponent('{{op.nombres}}'))">
                                            <td>{{ forloop.counter }}</td>
                                            <td class="col1">{{op.nombres}}</td>
                                            <td class="col2">{{op.nroLegajo}}</td>
                                            <td class="col3">{{op.antiguedad}}</td>
                                            <td class="col4">{{op.nombres_puntoServicio |default_if_none:'Sin Contratos'}}</td>
                                            <td class="col5">{{op.totalHoras}}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="modal-footer">
                                <a class="btn btn-info" style="height: 39px;">Asignar</a>
                
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="col-lg-12 col-md-12" style="text-align: right;margin:15px 0px;">
            <button type='submit' class='btn btn-success'>Guardar</button>
            <a class='btn btn-danger' href={% url 'Operarios:asignacion_list' %}>Cancelar</a>
        </div>



    </form>
</div>






<script type='template/Detalle'>
    <div class="row mt-2">
            <div class="col-2 p-0 mt-3">
                {{ asigDetFormSet.empty_form.operario }}
            </div>
            <div class="col p-0">
                {{ asigDetFormSet.empty_form.lunEnt }}{{ asigDetFormSet.empty_form.lunSal }}
            </div>
            <div class="col p-0">
                {{ asigDetFormSet.empty_form.marEnt }}{{ asigDetFormSet.empty_form.marSal }}
            </div>
            <div class="col p-0">
                {{ asigDetFormSet.empty_form.mieEnt }}{{ asigDetFormSet.empty_form.mieSal }}
            </div>
            <div class="col p-0">
                {{ asigDetFormSet.empty_form.jueEnt }}{{ asigDetFormSet.empty_form.jueSal }}
            </div>
            <div class="col p-0">
                {{ asigDetFormSet.empty_form.vieEnt }}{{ asigDetFormSet.empty_form.vieSal }}
            </div>
            <div class="col p-0">
                {{ asigDetFormSet.empty_form.sabEnt }}{{ asigDetFormSet.empty_form.sabSal }}
            </div>
            <div class="col p-0">
                {{ asigDetFormSet.empty_form.domEnt }}{{ asigDetFormSet.empty_form.domSal }}
            </div>
            <div class="col-1 p-0 text-center">
                {{ asigDetFormSet.empty_form.DELETE }}
            </div>
        </div>
</script>
<script>
        $(document).ready(function(){
            var cantForm = $('#id_asignaciondet_set-TOTAL_FORMS').val();
            for(var i=1;i<cantForm;i++){
                var idOpe = $('#id_asignaciondet_set-'+ (i-1) +'-operario').val();
                var select = $('#operario-'+(i-1))[0];
                for(var j=0;j<select.length;j++){
                    if($(select[j]).val()==idOpe){
                        $(select[j]).attr("selected","selected");
                    }else{
                        $(select[j]).removeAttr('selected');
                    }
                }
            }
        });

</script>
<script>
    function buscarOperario(id){
            debugger;
            //Seteamos action
            document.getElementById('action').value ='filter_operario-'+id;
            //hacemos submit
            document.getElementById('formulario').submit();
 }
</script>
<script>
        function seleccionarOpe(ope,id,nombres){
              console.log(ope);
              var select = $('#operario-'+id)[0];
              $('#id_asignaciondet_set-'+id+'-operario').val(ope);
              console.log(select);
              for(var i=0;i<select.length;i++){
                console.log(select[i]);
                
                if($(select[i]).val()==ope){
                    $(select[i]).attr("selected","selected");
                }else{
                    $(select[i]).removeAttr('selected');
                }
              }
              $('#id_asignaciondet_set-'+id+'-operario')
              $('#nombres-'+id+'-operario').val(decodeURIComponent(nombres));
              $('#modalFiltro'+id).modal('hide');
        }
       </script>
</div>
<script>
        $(document).ready(function(){
            var openModal = document.getElementById('openModal');
            var idModal = document.getElementById('idModal');
            if ($('#openModal').val()){
                $('#modalFiltro'+$('#idModal').val()).modal('show')
            }
        });

</script>
<script>
        // $(document).ready(function(){
        //     var selectOperarios = $('.form-operario');
        //     console.log(selectOperarios);
        //     for(var i=0;i<selectOperarios.length;i++){
        //         var select = [];
        //         select.push(selectOperarios[i]);
        //         var options=select[0];
        //         $(options[0]).removeAttr("selected");
        //     }
        //     console.log("OPERARIOS",$('.form-operario'));
        // });

</script>

<script>
    $(document).ready(function(){
        $("#filter1").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table tr td.col1").filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#filter2").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table tr td.col2").filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#filter3").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table tr td.col3").filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#filter4").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table tr td.col4").filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#filter5").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table tr td.col5").filter(function() {
                $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
 

</script>

<script>
    /**
     * Number.prototype.format(n, x, s, c)
     * 
     * @param integer n: length of decimal
     * @param integer x: length of whole part
     * @param mixed   s: sections delimiter
     * @param mixed   c: decimal delimiter
     */
    Number.prototype.format = function (n, x, s, c) {
        var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
            num = this.toFixed(Math.max(0, ~~n));

        return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
    };

    function pad(d) {
        return (d < 10) ? '0' + d.toString() : d.toString();
    }

    function timeInHours(str) {
        var sp = str.split(":");
        return parseInt(sp[0]) + parseFloat(sp[1] / 60);
    }

    function hoursToString(h) {

        if (h < 0) {
            return "-" + hoursToString(h * -1);
        }
        var hours = Math.floor(h);
        var minutes = ((h - hours) * 60).toFixed(2);

        return pad(hours) + ":" + pad(minutes);
    }

    function SumHrMin(h1, h2) {
        var sp = h1.split(":");
        var hora1 = sp[0];
        var min1 = sp[1];

        sp = h2.split(":");
        var hora2 = sp[0];
        var min2 = sp[1];

        var hora_total = parseInt(hora1) + parseInt(hora2);
        var min_pre = parseInt(min1) + parseInt(min2);

        var horas_adicionales = Math.floor((min_pre / 60));
        hora_total += horas_adicionales;
        var min_total = (min_pre - (horas_adicionales * 60));

        return hora_total + ":" + pad(min_total);

    }

    function obtenerNumeroId(id) {
        var sp = id.split("-");
        return sp[1];
    }

    function mayor(n1, n2) {
        /* 
        retorna 1 si n1 es mayor a n2
        retorna 0 si n1 es igual a n2
        retorna -1 si n1 es menor a n2
        */
        if (timeInHours(n1) > timeInHours(n2)) {
            return 1;
        } else if (timeInHours(n1) == timeInHours(n2)) {
            return 0;
        } else if (timeInHours(n1) < timeInHours(n2)) {
            return -1;
        }

    }

    function obtenerNocturnas(Ent, Sal) {
        total_horas_nocturnas = '00:00'

        //Determinamos las horas diurnas y nocturnas
        var limiteInferior = '06:00';
        var limiteSuperior = '20:00';


        if (mayor(limiteInferior, Ent) == 1) {
            var subLimiteSuperior = limiteInferior;

            if (mayor(subLimiteSuperior, Sal) == 1) {
                subLimiteSuperior = Sal;
            }

            temp_NocturnasDecimal = timeInHours(subLimiteSuperior) - timeInHours(Ent);
            total_horas_nocturnas = SumHrMin(total_horas_nocturnas, hoursToString(temp_NocturnasDecimal));

        } else if (mayor(Sal, limiteSuperior) == 1) {
            var subLimiteInferior = limiteSuperior;

            if (mayor(Ent, subLimiteInferior) == 1) {
                subLimiteInferior = Ent;
            }

            temp_NocturnasDecimal = timeInHours(Sal) - timeInHours(subLimiteInferior);
            total_horas_nocturnas = SumHrMin(total_horas_nocturnas, hoursToString(temp_NocturnasDecimal));
        }

        return total_horas_nocturnas;

    }

    function deleteLeaveRow(deleteLink, id) {
        // $("#leaveForm-" + id).remove();
        
        $(deleteLink).closest('.leaveForm').hide();

        $("#id_asignaciondet_set-" + id + "-DELETE").prop("checked", true);
        RecalcularHoras();
        RecalcularTipoHoras();

    }
    function habilitarBusqueda(id){
        var formisValid=false;
        var fechasValid=false;
        var horasValid=false;
        if($('#id_asignaciondet_set-' + id + '-fechaInicio').val()){
            fechasValid=true;
        }

                //Lunes
                var lunEnt = $('#id_asignaciondet_set-' + i + '-lunEnt').val();
                var lunSal = $('#id_asignaciondet_set-' + i + '-lunSal').val();
                var totalLunes = hoursToString(timeInHours(lunSal) - timeInHours(lunEnt));
                if (!(totalLunes == 'NaN:NaN')) {
                    horasValid=true;
                }

                //Martes
                var marEnt = $('#id_asignaciondet_set-' + i + '-marEnt').val();
                var marSal = $('#id_asignaciondet_set-' + i + '-marSal').val();
                var totalMartes = hoursToString(timeInHours(marSal) - timeInHours(marEnt));
                if (!(totalMartes == 'NaN:NaN')) {
                    horasValid=true;
                }
                //Miercoles
                var mieEnt = $('#id_asignaciondet_set-' + i + '-mieEnt').val();
                var mieSal = $('#id_asignaciondet_set-' + i + '-mieSal').val();
                var totalMiercoles = hoursToString(timeInHours(mieSal) - timeInHours(mieEnt));
                if (!(totalMiercoles == 'NaN:NaN')) {
                    horasValid=true;
                }
                //Jueves
                var jueEnt = $('#id_asignaciondet_set-' + i + '-jueEnt').val();
                var jueSal = $('#id_asignaciondet_set-' + i + '-jueSal').val();
                var totalJueves = hoursToString(timeInHours(jueSal) - timeInHours(jueEnt));
                if (!(totalJueves == 'NaN:NaN')) {
                    horasValid=true;
                }
                //Viernes
                var vieEnt = $('#id_asignaciondet_set-' + i + '-vieEnt').val();
                var vieSal = $('#id_asignaciondet_set-' + i + '-vieSal').val();
                var totalViernes = hoursToString(timeInHours(vieSal) - timeInHours(vieEnt));
                if (!(totalViernes == 'NaN:NaN')) {
                    horasValid=true;
                }
                //Sabado
                var sabEnt = $('#id_asignaciondet_set-' + i + '-sabEnt').val();
                var sabSal = $('#id_asignaciondet_set-' + i + '-sabSal').val();
                var totalSabado = hoursToString(timeInHours(sabSal) - timeInHours(sabEnt));
                if (!(totalSabado == 'NaN:NaN')) {
                    horasValid=true;
                }
                //Domingo
                var domEnt = $('#id_asignaciondet_set-' + i + '-domEnt').val();
                var domSal = $('#id_asignaciondet_set-' + i + '-domSal').val();
                var totalDomingo = hoursToString(timeInHours(domSal) - timeInHours(domEnt));
                if (!(totalDomingo == 'NaN:NaN')) {
                    horasValid=true;
                }
        if(fechasValid && horasValid){
            $('#filter_operario-'+id).prop("disabled",false);
        }else{
            $('#filter_operario-'+id).prop("disabled",true);
        }
        
    }
    function RecalcularHoras() {
        //aqui empieza el calculo del total de horas normales
        var total_horas_detalle = '00:00';
        var $totalDetalle = $('#id_asignaciondet_set-TOTAL_FORMS');
        var totalDet = parseInt($totalDetalle.val(), 10);
        for (i = 0; i < totalDet; i++) {
            if (!($('#leaveForm-' + i).css('display') == 'none')) {
                habilitarBusqueda(i);

                //Lunes
                var lunEnt = $('#id_asignaciondet_set-' + i + '-lunEnt').val();
                var lunSal = $('#id_asignaciondet_set-' + i + '-lunSal').val();
                var totalLunes = hoursToString(timeInHours(lunSal) - timeInHours(lunEnt));
                if (!(totalLunes == 'NaN:NaN')) {
                    habilitarBusqueda(i);
                    total_horas_detalle = SumHrMin(total_horas_detalle, totalLunes);
                }

                //Martes
                var marEnt = $('#id_asignaciondet_set-' + i + '-marEnt').val();
                var marSal = $('#id_asignaciondet_set-' + i + '-marSal').val();
                var totalMartes = hoursToString(timeInHours(marSal) - timeInHours(marEnt));
                if (!(totalMartes == 'NaN:NaN')) {
                    habilitarBusqueda(i);
                    total_horas_detalle = SumHrMin(total_horas_detalle, totalMartes);
                }
                //Miercoles
                var mieEnt = $('#id_asignaciondet_set-' + i + '-mieEnt').val();
                var mieSal = $('#id_asignaciondet_set-' + i + '-mieSal').val();
                var totalMiercoles = hoursToString(timeInHours(mieSal) - timeInHours(mieEnt));
                if (!(totalMiercoles == 'NaN:NaN')) {
                    habilitarBusqueda(i);
                    total_horas_detalle = SumHrMin(total_horas_detalle, totalMiercoles);
                }
                //Jueves
                var jueEnt = $('#id_asignaciondet_set-' + i + '-jueEnt').val();
                var jueSal = $('#id_asignaciondet_set-' + i + '-jueSal').val();
                var totalJueves = hoursToString(timeInHours(jueSal) - timeInHours(jueEnt));
                if (!(totalJueves == 'NaN:NaN')) {
                    habilitarBusqueda(i);
                    total_horas_detalle = SumHrMin(total_horas_detalle, totalJueves);
                }
                //Viernes
                var vieEnt = $('#id_asignaciondet_set-' + i + '-vieEnt').val();
                var vieSal = $('#id_asignaciondet_set-' + i + '-vieSal').val();
                var totalViernes = hoursToString(timeInHours(vieSal) - timeInHours(vieEnt));
                if (!(totalViernes == 'NaN:NaN')) {
                    habilitarBusqueda(i);
                    total_horas_detalle = SumHrMin(total_horas_detalle, totalViernes);
                }
                //Sabado
                var sabEnt = $('#id_asignaciondet_set-' + i + '-sabEnt').val();
                var sabSal = $('#id_asignaciondet_set-' + i + '-sabSal').val();
                var totalSabado = hoursToString(timeInHours(sabSal) - timeInHours(sabEnt));
                if (!(totalSabado == 'NaN:NaN')) {
                    habilitarBusqueda(i);
                    total_horas_detalle = SumHrMin(total_horas_detalle, totalSabado);
                }
                //Domingo
                var domEnt = $('#id_asignaciondet_set-' + i + '-domEnt').val();
                var domSal = $('#id_asignaciondet_set-' + i + '-domSal').val();
                var totalDomingo = hoursToString(timeInHours(domSal) - timeInHours(domEnt));
                if (!(totalDomingo == 'NaN:NaN')) {
                    habilitarBusqueda(i);
                    total_horas_detalle = SumHrMin(total_horas_detalle, totalDomingo);
                }
            }
            console.log(total_horas_detalle.split(':')[0]);
            $('#id_asignaciondet_set-'+i+'-totalHoras').val(total_horas_detalle.split(':')[0]);
        }
        
        $('#id_totalasignado').val(total_horas_detalle);
        $('#sumAll_resto').val(hoursToString(timeInHours($('#sumAll_total').val()) - timeInHours(total_horas_detalle)));
    }

    function RecalcularTipoHoras() {
        //aqui empieza el calculo de los distintos tipos de horas
        var total_horas_detalle = '00:00';
        var total_sem_nocturnas = '00:00';
        var total_sem_diurnas = '00:00';
        var total_dom_nocturnas = '00:00';
        var total_dom_diurnas = '00:00';

        var $totalDetalle = $('#id_asignaciondet_set-TOTAL_FORMS');
        var totalDet = parseInt($totalDetalle.val(), 10);

        for (i = 0; i < totalDet; i++) {
            if (!($('#leaveForm-' + i).css('display') == 'none')) {
                //Lunes
                var lunEnt = $('#id_asignaciondet_set-' + i + '-lunEnt').val();
                var lunSal = $('#id_asignaciondet_set-' + i + '-lunSal').val();
                temp = obtenerNocturnas(lunEnt, lunSal);

                var totalLunes = timeInHours(lunSal) - timeInHours(lunEnt);
                if (!(totalLunes == 'NaN:NaN') && !isNaN(totalLunes)) {
                    total_sem_diurnas = SumHrMin(total_sem_diurnas, hoursToString(totalLunes - timeInHours(temp)));
                    total_sem_nocturnas = SumHrMin(total_sem_nocturnas, temp);
                }

                //Martes
                var marEnt = $('#id_asignaciondet_set-' + i + '-marEnt').val();
                var marSal = $('#id_asignaciondet_set-' + i + '-marSal').val();
                temp = obtenerNocturnas(marEnt, marSal);

                var totalMartes = timeInHours(marSal) - timeInHours(marEnt);
                if (!(totalMartes == 'NaN:NaN') && !isNaN(totalMartes)) {
                    total_sem_diurnas = SumHrMin(total_sem_diurnas, hoursToString(totalMartes - timeInHours(temp)));
                    total_sem_nocturnas = SumHrMin(total_sem_nocturnas, temp);
                }

                //Miercoles
                var mieEnt = $('#id_asignaciondet_set-' + i + '-mieEnt').val();
                var mieSal = $('#id_asignaciondet_set-' + i + '-mieSal').val();
                temp = obtenerNocturnas(mieEnt, mieSal);

                var totalMiercoles = timeInHours(mieSal) - timeInHours(mieEnt);
                if (!(totalMiercoles == 'NaN:NaN') && !isNaN(totalMiercoles)) {
                    total_sem_diurnas = SumHrMin(total_sem_diurnas, hoursToString(totalMiercoles - timeInHours(temp)));
                    total_sem_nocturnas = SumHrMin(total_sem_nocturnas, temp);
                }

                //Jueves
                var jueEnt = $('#id_asignaciondet_set-' + i + '-jueEnt').val();
                var jueSal = $('#id_asignaciondet_set-' + i + '-jueSal').val();
                temp = obtenerNocturnas(jueEnt, jueSal);

                var totalJueves = timeInHours(jueSal) - timeInHours(jueEnt);
                if (!(totalJueves == 'NaN:NaN') && !isNaN(totalJueves)) {
                    total_sem_diurnas = SumHrMin(total_sem_diurnas, hoursToString(totalJueves - timeInHours(temp)));
                    total_sem_nocturnas = SumHrMin(total_sem_nocturnas, temp);
                }

                //Viernes
                var vieEnt = $('#id_asignaciondet_set-' + i + '-vieEnt').val();
                var vieSal = $('#id_asignaciondet_set-' + i + '-vieSal').val();
                temp = obtenerNocturnas(vieEnt, vieSal);

                var totalViernes = timeInHours(vieSal) - timeInHours(vieEnt);
                if (!(totalViernes == 'NaN:NaN') && !isNaN(totalViernes)) {
                    total_sem_diurnas = SumHrMin(total_sem_diurnas, hoursToString(totalViernes - timeInHours(temp)));
                    total_sem_nocturnas = SumHrMin(total_sem_nocturnas, temp);
                }

                //Sabado
                var sabEnt = $('#id_asignaciondet_set-' + i + '-sabEnt').val();
                var sabSal = $('#id_asignaciondet_set-' + i + '-sabSal').val();
                temp = obtenerNocturnas(sabEnt, sabSal);

                var totalSabado = timeInHours(sabSal) - timeInHours(sabEnt);
                if (!(totalSabado == 'NaN:NaN') && !isNaN(totalSabado)) {
                    total_sem_diurnas = SumHrMin(total_sem_diurnas, hoursToString(totalSabado - timeInHours(temp)));
                    total_sem_nocturnas = SumHrMin(total_sem_nocturnas, temp);
                }


                //Domingo
                var domEnt = $('#id_asignaciondet_set-' + i + '-domEnt').val();
                var domSal = $('#id_asignaciondet_set-' + i + '-domSal').val();
                temp = obtenerNocturnas(domEnt, domSal);

                var totalDomingo = timeInHours(domSal) - timeInHours(domEnt);
                if (!(totalDomingo == 'NaN:NaN') && !isNaN(totalDomingo)) {
                    total_dom_diurnas = SumHrMin(total_dom_diurnas, hoursToString(totalDomingo - timeInHours(temp)));
                    total_dom_nocturnas = SumHrMin(total_dom_nocturnas, temp);
                }
            }
        }
        $('#sum_sem_diu').val(total_sem_diurnas);
        $('#sum_sem_noc').val(total_sem_nocturnas);
        $('#sum_dom_diu').val(total_dom_diurnas);
        $('#sum_dom_noc').val(total_dom_nocturnas);

        //total_sem_diurnas
        temp = hoursToString((parseFloat($('#tot_sem_diu').val()) - timeInHours(total_sem_diurnas)));
        if (temp.substring(0, 1) == '-') {
            document.getElementById("res_sem_diu").style.color = "#ff0000";
        } else {
            document.getElementById("res_sem_diu").style.color = "#000000";
        }

        //total_sem_nocturnas
        temp = hoursToString((parseFloat($('#tot_sem_noc').val()) - timeInHours(total_sem_nocturnas)));
        if (temp.substring(0, 1) == '-') {
            document.getElementById("res_sem_noc").style.color = "#ff0000";
        } else {
            document.getElementById("res_sem_noc").style.color = "#000000";
        }

        //total_dom_diurnas
        temp = hoursToString((parseFloat($('#tot_dom_diu').val()) - timeInHours(total_dom_diurnas)));
        if (temp.substring(0, 1) == '-') {
            document.getElementById("res_dom_diu").style.color = "#ff0000";
        } else {
            document.getElementById("res_dom_diu").style.color = "#000000";
        }

        //total_dom_nocturnas
        temp = hoursToString((parseFloat($('#tot_dom_noc').val()) - timeInHours(total_dom_nocturnas)));
        if (temp.substring(0, 1) == '-') {
            document.getElementById("res_dom_noc").style.color = "#ff0000";
        } else {
            document.getElementById("res_dom_noc").style.color = "#000000";
        }


        $('#res_sem_diu').val(hoursToString((parseFloat($('#tot_sem_diu').val()) - timeInHours(total_sem_diurnas))));
        $('#res_sem_noc').val(hoursToString((parseFloat($('#tot_sem_noc').val()) - timeInHours(total_sem_nocturnas))));
        $('#res_dom_diu').val(hoursToString((parseFloat($('#tot_dom_diu').val()) - timeInHours(total_dom_diurnas))));
        $('#res_dom_noc').val(hoursToString((parseFloat($('#tot_dom_noc').val()) - timeInHours(total_dom_nocturnas))));
    }

    $(function () {

        // Reemplaza todas las coincidencias en vez de solo la primera
        function replaceAll(text, busca, reemplaza) {
            while (text.toString().indexOf(busca) != -1)
                text = text.toString().replace(busca, reemplaza);
            return text;
        }

        var $totalDetalle = $('#id_asignaciondet_set-TOTAL_FORMS');

        $('#btnDet').click(function (event) {
            
            event.preventDefault();
            var total = parseInt($totalDetalle.val(), 10);
            var clon = $('script[type="template/Detalle"]').html();
            clon_html = replaceAll(clon, '__prefix__', (total).toString());
            $('#formset-det').append(clon_html);
            $totalDetalle.val(total + 1);

            //Seteamos action
            document.getElementById('action').value = 'add_det';
            //hacemos submit
            document.getElementById('formulario').submit();
        });


        // $('button[id^="filter_operario-"]').click(function (event) {
        //     console.log("CLICK EN BUSCAR",event.target.id);
        //     event.preventDefault();
        //     console.log(event.target.id);
        //     debugger;
        //     //Seteamos action
        //     document.getElementById('action').value = event.target.id;
        //     //hacemos submit
        //     document.getElementById('formulario').submit();
        // });

    });

    $('input[id^="id_asignaciondet_set-"]').on('dp.change', function (e) {
        RecalcularHoras();
    });

    $('input[id^="id_asignaciondet_set-"]').on('dp.change', function (e) {
        RecalcularTipoHoras();
    });


</script>
<style>
.btn-info.disabled, .btn-info:disabled {
    background-color: #7b9da2 !important;
    border-color: #6e7b7d !important;
}
</style>
{% endblock %}