{% load static %}
<script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="{% static 'jquery/jquery-ui.min.js' %}"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" type="text/css" media="all" rel="stylesheet">
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
<link href="{% static 'style/main.css' %}" type="text/css" media="all" rel="stylesheet"></link> 
<link href="{% static 'vendor/fontawesome-5.8.2/css/all.min.css' %} " type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script> 
<script type="text/javascript" src="{% static 'vendor/jsgrid-1.5.3/jsgrid.min.js' %}"></script>
<link href="{% static 'vendor/jsgrid-1.5.3/jsgrid.min.css' %} " type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'vendor/jsgrid-1.5.3/jsgrid-theme.min.css' %} " type="text/css" media="all" rel="stylesheet" />
<link href="{% static 'vendor/bootstrap-select-1.13.10/css/bootstrap-select.min.css' %}" type="text/css" media="all" rel="stylesheet"></link> 
<link href="{% static 'vendor/multi-select/css/multi-select.css' %}" type="text/css" media="all" rel="stylesheet"></link> 
<script type="text/javascript" src="{% static 'vendor/bootstrap-select-1.13.10/js/bootstrap-select.min.js'%}"></script> 
<script type="text/javascript" src="{% static 'vendor/bootstrap-select-1.13.10/js/i18n/defaults-es_ES.min.js'%}"></script>
<script type="text/javascript" src="{% static 'vendor/multi-select/js/jquery.multi-select.js'%}"></script>   
<script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
        <script >
                function startLoader(){
                    $('.content-loader').removeClass('d-none');
                }
                function endLoader(){
                    $('.content-loader').addClass('d-none');   
                }
                function setMessageAlert (mensaje){
                    $('#alert').removeClass('d-none');
                    document.getElementById('alert').innerText=mensaje;
                }
                var MyDateField = function(config) {
                           jsGrid.Field.call(this, config);
                       };
                function stringToDate(_date,_format,_delimiter){
                    var formatLowerCase=_format.toLowerCase();
                    var formatItems=formatLowerCase.split(_delimiter);
                    var dateItems=_date.split(_delimiter);
                    var monthIndex=formatItems.indexOf("mm");
                    var dayIndex=formatItems.indexOf("dd");
                    var yearIndex=formatItems.indexOf("yyyy");
                    var month=parseInt(dateItems[monthIndex]);
                    month-=1;
                    var formatedDate = new Date(dateItems[yearIndex],month,dateItems[dayIndex]);
                    return formatedDate;
                }
                       
                       MyDateField.prototype = new jsGrid.Field({
                       
                           css: "date-field",            // redefine general property 'css'
                           align: "center",              // redefine general property 'align'
                       
                           myCustomProperty: "foo",      // custom property
                       
                           sorter: function(date1, date2) {
                               return new Date(date1) - new Date(date2);
                           },
           
                           filterTemplate: function() {
                               return this._filterPicker = $("<input>").datepicker({ defaultDate: new Date(),
                                   dayNamesMin: [ "D", "L", "M", "M", "J", "V", "S" ],
                                   monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dic" ],
                                   monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
                                   dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ],
                                   dateFormat: "yy-mm-dd" });
                           },
                       
                           itemTemplate: function(value) {
                               if(value!=null){
                                    var arr=value.split('T');
                                    var arr=arr[0].split('-');
                                    var d=new Date(value);
                                    var dia=arr[2];
                                    var mes=arr[1];
                                    var anho=arr[0];
                                    return dia+'/'+mes+'/'+anho;
                                }
                                return null;
                           },
                       
                           insertTemplate: function(value) {
                               return this._insertPicker = $("<input>").datepicker({ defaultDate: new Date(),
                                   dayNamesMin: [ "D", "L", "M", "M", "J", "V", "S" ],
                                   monthNamesShort: [ "Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dic" ],
                                   monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ],
                                   dayNames: [ "Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado" ] ,
                                   dateFormat: "yy-mm-dd"});
                           },
                       
                           editTemplate: function(value) {
                               return this._editPicker = $("<input>").datepicker().datepicker("setDate", new Date(value));
                           },
                       
                           insertValue: function() {
                               return this._insertPicker.datepicker("getDate").toISOString();
                           },
                       
                           editValue: function() {
                               return this._editPicker.datepicker("getDate").toISOString();
                           },
                           
                           filterValue: function() {
                               if(this._filterPicker.datepicker("getDate")!==null){
                               return this._filterPicker.datepicker("getDate").toISOString();
                               }else{
                                   return null;
                               }
                           }
                       });
                       
                       jsGrid.fields.date = MyDateField;
           
           
           </script>
<!DOCTYPE html>
    <html lang="es">
    <head>
      <!-- Required meta tags -->
      {% block js_auxiliar %}{% endblock %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>El mejor</title>
        {% include 'base/css.html' %}
        {% block base_head %}{% endblock %}
    </head>
    <body style="overflow-x: hidden !important; height: 100% !important;">
      {% block navbar %}{% include 'base/navbar.html' %}{% endblock %}
      <div class="content-loader d-none">
            <div class='wrap'>
                    <div class='loader' id='lrd1'></div>
            </div>
        </div>
      <div class="container" style="width: 100% !important;
      max-width: 100%;">
      <!-- MENSAJES DE ALERTA POR DEFAULT DE DJANGO Y BOOTSTRAP -->
      <div class="alert alert-danger d-none" id="alert">
            <!-- Aqui se inserta le mensaje de error -->
      </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'warning' %}
                    <div class="alert alert-danger messages">
                        {{ message }}<br/>
                    </div>
                {% elif message.tags == 'info' %}
                    <div class="alert alert-info messages">
                        {{ message }}<br/>
                    </div>
                {% else %}
                    <div class="alert alert-success messages">
                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}<br/>
                    </span>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <!-- Aqui el bloque de contenido -->
        {% block content %}{% endblock %}
    </div>

        {% include 'base/js.html' %}
        {% block javascript %}

        {% endblock %}
    
    
    </body>
    <style>
       .wrap {
        position: fixed;
        left: 50%;
        width: 5em;
        z-index: 9999999999;
        height: 5em;
        top: 20%;
        transform: translate(-50%, 100%);
    }

    .loader {
        transition: all 0.7s ease-in-out;
        border: 10px solid #ebebeb;
        border-bottom-color: #7a0c25;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        -webkit-font-smoothing: antialiased !important;
        margin: 30px 0px;
    }
    .content-loader{
        position: fixed;
        margin-top: calc(-56px - 1.5rem) !important;
        width: 100%;
        z-index: 99999;
        height: 100%;
        background-color: #0000002e;
    }
    #lrd1 {
        -webkit-animation: spin1 0.5s linear infinite;
    }

    #lrd2 {
        -webkit-animation: spin2 3s ease-in-out infinite;
    }

    #lrd3 {
        -webkit-animation: spin3 15s ease-in-out infinite;
    }

    @keyframes spin1 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin2 {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(1020deg);
        }

        100% {
            transform: rotate(720deg);
        }
    }

    @keyframes spin3 {
        0% {
            transform: rotate(0deg);
        }

        40% {
            transform: rotate(1070deg);
        }

        100% {
            transform: rotate(6119deg);
            border-bottom-color: #072426 !important;
        }
    }
    </style>
    {% block scripts %}{% endblock %}
  </html>