

@font-face{
    font-family: Futura;
    font-weight: normal;
    font-style: normal;
    src:url("/static/fonts/Futura-Std-Bold.ttf") format("opentype");
    src:url("/static/fonts/Futura-Std-Book-Oblique.ttf") format("opentype");
    src:url("/static/fonts/Futura-Std-Extra-Bold.ttf") format("opentype");
    src:url("/static/fonts/Futura-Std-Heavy.ttf") format("opentype");
    src:url("/static/fonts/Futura-Std-Light.ttf") format("opentype");
    src:url("/static/fonts/Futura-Std-Medium.ttf") format("opentype");
}

 body{
    font-family: Futura !important;
}   

h2 {
    font-family: Futura !important;
 
    color: #86273e !important;
}
h1 {
    font-family: Futura !important;
 
    color: #86273e !important;
}
.container-main {
    padding-top: 20px !important;
}
.container {
    margin-right: 10px !important;
    margin-left: 10px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    width: 100%;
}
.btn-guardar {
    background-color: #86273e !important;
    border-color: #86273e !important;
    padding: 7px 30px;
    cursor: pointer; 
}
.btn-agregar {
    background-color: #86273e !important;
    border-color: #86273e !important;
    padding: 7px 30px;
    cursor: pointer; 
}
.btn-agregar {
    background-color: #86273e !important;
    border-color: #86273e !important;
    padding: 7px 30px;
    cursor: pointer; 
}
.btn-cancelar {
    background-color: #707171 !important;
    border-color: #707171 !important;
    padding: 7px 30px;
    cursor: pointer; 
}
.btn:focus{
    box-shadow: none !important;
}
.bootstrap-select .dropdown-toggle{
    border: 1px solid #d9d9d9 !important;
    background-color: white !important;
}

.noresize{
    resize: none !important;
}

