{% extends "base.html" %}
{% url 'Operarios:marcaciones_xls' as marcaciones_xls %}
{% load static %}
{% block title %}Marcaciones{% endblock %}

{% block base_head %}
    <link href="{% static 'style/overrride.css' %}" type="text/css" media="all" rel="stylesheet"></link> 
{% endblock %}

{% block content %}

    <h1 class='my-3'>Marcaciones</h1>

    <a href="/reingenieria/marcacion/descargar">
        <button type="button" class="desperateButton float-right borderless">
            Descargar
        </button>
    </a>

    <div id="jsGrid"></div>
{% endblock %}

{% block scripts %}

    <script>
        $(function() {

            $("#jsGrid").jsGrid({
                height: "80%",
                width: "100%",
                /*filtering: true,
                inserting: true,
                editing: true,
                sorting: true,
                paging: true,
                autoload: true,*/
                filtering: true,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 10,
                pagerFormat: "Páginas: {first} {prev} {pages} {next} {last}    {pageIndex} de {pageCount}",
                pageButtonCount: 1,
                pagePrevText: "Anterior",
                pageNextText: "Siguiente",
                pageFirstText: "Primera",
                pageLastText: "Ultima",
                noDataContent: "No se han encontrado registros",
                deleteConfirm: "Desea eliminar el registro?",
                loadMessage: "Por favor, espere...",
                invalidMessage: "Datos no válidos",
                pageLoading:true,
                controller: {
                    loadData: function(filter) {
                        var d = $.Deferred();
                        $.ajax({
                            type: "GET",
                            url: "/reingenieria/marcacion/listar",
                            data: filter
                        }).done(function(result) {
                            console.log(result);
                            var data= {
                                 data:result.data[0],
                                 itemCount:result.itemsCount
                             }
                             d.resolve(data)
                            /*d.resolve($.map(result.data, function(item) {
                                return $.extend(item.fields, { id: item.pk });
                            }));*/
                        });

                        return d.promise();
                    },
                    insertItem: function(item) {
                        return $.ajax({
                            type: "POST",
                            url: "/marcacion/api",
                            data: item
                        });
                    },
                    updateItem: function(item) {
                        return $.ajax({
                            type: "PUT",
                            url: "/marcacion/api/" + item.id,
                            data: item
                        });
                    },
                    deleteItem: function(item) {
                        return $.ajax({
                            type: "DELETE",
                            url: "/marcacion/api/" + item.id
                        });
                    }
                },

                fields: [
                    { name: "codoperacion",type:"text", width: 150,title: "Operacion",headercss:"elm-table-header"},
                    { name: "codpersona",type:"text", width: 150,title: "Cédula" },
                    { name: "codcategoria",type:"text", width: 150,title: "Código Categoría" },
                    { name: "numlinea",type:"text", width: 150,title: "Nro de Linea" },
                    { name: "codubicacion",type:"text", width: 150,title: "Ubicacion" },
                    { name: "fecha",type:"date", width: 150,title: "Fecha" },
                    { name: "estado",type:"text", width: 150,title: "Estado" }
                ]
            });

        });
        /*,
                    { type: "control" }*/
    </script>
{% endblock %}
