{% extends "base.html" %}
{% load static %}
{% block base_head %}
    <link href="{% static 'style/overrride.css' %}" type="text/css" media="all" rel="stylesheet"></link> 
{% endblock %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h2>Servicios aprobados de Puntos de servicio</h2>
            </div>
        </div>
        <div class="col-lg-12 col-md-12" id="jsGrid"></div>
</div>

    <script>
        $(function () {
            $("#jsGrid").jsGrid({
                height: "100%",
                width: "100%",
                filtering: true,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 15,
                pagerFormat: "Páginas: {first} {prev} {pages} {next} {last}    {pageIndex} de {pageCount}",
                pageButtonCount: 1,
                pagePrevText: "Anterior",
                pageNextText: "Siguiente",
                pageFirstText: "Primera",
                pageLastText: "Ultima",
                noDataContent: "No se han encontrado registros",
                confirmDeleting:true,
                deleteConfirm: "Esta seguro, que desea eliminar el registro??",
                loadMessage: "Por favor, espere...",
                invalidMessage: "Datos no válidos",
                pageLoading:true,
                controller: {
                    loadData: function (filter) {
                        var d = $.Deferred();
                        $.ajax({
                            type: "GET",
                            url: "/reingenieria/operaciones/punto_Servicio/listar/",
                            data: filter
                        }).done(function (result) {
                            console.log(result);
                            var resp={}
                            resp.data=result.data;
                            resp.itemsCount=result.itemsCount
                            d.resolve(resp)
                        });

                        return d.promise();
                    },
                },

                fields: [
                    { name: "id",type:"text", width: 50,title: "Nro"},
                    { name: "CodPuntoServicio",type:"text", width: 50,title: "Codigo P.Servicio" },
                    { name: "NombrePServicio",type:"text", width: 50,title: "Punto de Servicio" },
                    { name: "Cliente",type:"text", width: 50,title: "Cliente" },
                    { type: "control", width:50, name:"Serv aprobado",
                    itemTemplate: function(value, item) {
                        var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                        var $servicioAprobado = $("<button>").text("Serv aprobado").attr({class: "btn btn-warning btn-sm"}).attr({title:"prueba"})
                        .click(function(e) {
                            document.location.href="/reingenieria/puntoServicio/relevamiento/"+item.id
                        });

                        var $customEditButton = $("<button>").attr({class: "customGridEditbutton jsgrid-button jsgrid-edit-button"})
                        .click(function(e) {
                            document.location.href="/reingenieria/puntoServicio/relevamiento/"+item.id
                        });

                        return $("<div>").append($customEditButton);
                    }
                    },          
        ]



            });
        });
        
    </script>
    
{% endblock %}