{% extends "base.html" %}
{% load static %}
{% block base_head %}
    <link href="{% static 'style/overrride.css' %}" type="text/css" media="all" rel="stylesheet"></link> 
{% endblock %}
{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>Puntos de servicio</h1>
            </div>
        </div>        

    <!--<h2>Puntos de Servicio</h2> -->
    <!--Table-->
    <!-- <table id="tablePreview" class="table table-hover table-sm"> -->
    <!--Table head-->
   <!-- <thead>
        <tr>
            <th>#</th>
            <th>Codigo P. Servicio</th>
            <th>Punto de Servicio</th>
            <th>Cliente</th>
            <th>Editar</th>
            <th>Eliminar</th>
            <th>Servicio Aprobado</th>
        </tr>
    </thead>-->
    <!--Table head-->
    <!--Table body-->
    <!--<tbody>
        {% if PuntoServicio %}
        {% for puntosSer in PuntoServicio %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ puntosSer.CodPuntoServicio }}</td>
            <td>{{ puntosSer.NombrePServicio }}</td>
            <td>{{ puntosSer.Cliente.Cliente }}</td>
            <td> <a class='btn btn-primary btn-sm' href={% url 'Operarios:puntoServicio_update' puntosSer.id %}>Editar</a> </td>
            <td> <a class='btn btn-danger btn-sm' href={% url 'Operarios:puntoServicio_delete' puntosSer.id %}>Eliminar</a> </td>
            <td> <a class='btn btn-warning btn-sm' href={% url 'Operarios:relevamiento' puntosSer.id %}>Serv Aprobado</a> </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody> -->
    <!--Table body-->
    <!--</table> -->
    <!--Table-->
    <div class="col-lg-12 col-md-12" style="text-align: right">
    <a class='btn btn-success btn-guardar' href='{% url 'Operarios:puntoServicio_create' %}' ><i class="fa fa-plus fa-lg"></i> Nuevo Punto de Servicio </a>
    <div  class="col-lg-12 col-md-12" id="jsGrid"></div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $("#jsGrid").jsGrid({
                height: "100%",
                width: "100%",
                filtering: true,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                autoload: true,
                pageSize: 15,
                pagerFormat: "Páginas: {first} {prev} {pages} {next} {last}    {pageIndex} de {pageCount}",
                pageButtonCount: 1,
                pagePrevText: "Anterior",
                pageNextText: "Siguiente",
                pageFirstText: "Primera",
                pageLastText: "Ultima",
                noDataContent: "No se han encontrado registros",
                confirmDeleting:true,
                deleteConfirm: "Esta seguro, que desea eliminar el registro??",
                loadMessage: "Por favor, espere...",
                invalidMessage: "Datos no válidos",
                pageLoading:true,
                controller: {
                    loadData: function (filter) {
                        var d = $.Deferred();
                        $.ajax({
                            type: "GET",
                            url: "/reingenieria/operaciones/punto_Servicio/listar/",
                            data: filter
                        }).done(function (result) {
                            console.log(result);
                            var resp={}
                            resp.data=result.data;
                            resp.itemsCount=result.itemsCount
                            d.resolve(resp)
                        });

                        return d.promise();
                    },
                },

                fields: [
                    { name: "id",type:"text", width: 50,title: "Nro"},
                    { name: "CodPuntoServicio",type:"text", width: 50,title: "Codigo P.Servicio" },
                    { name: "NombrePServicio",type:"text", width: 50,title: "Punto de Servicio" },
                    { name: "Cliente",index:"Cliente.Cliente",type:"text", width: 50,title: "Cliente" },
                    { type: "control",
                    itemTemplate: function(value, item) {
                        var $result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                        var $customEditButton = $("<button>").attr({class: "customGridEditbutton jsgrid-button jsgrid-edit-button"})
                        .click(function(e) {
                            document.location.href="/reingenieria/operaciones/puntoServicio/editar/"+item.id
                        });

                        var $customDeleteButton = $("<button>").attr({class: "customGridDeletebutton jsgrid-button jsgrid-delete-button"})
                        .click(function(e) {
                            if (confirm("Esta seguro que desea eliminar el registro"))
                            {
                                document.location.href="/reingenieria/operaciones/puntoServicio/eliminar/"+item.id
                               
                            }
                        });

                        return $("<div>").append($customEditButton).append($customDeleteButton);
                    }
                    },                  
        ]



            });
        });
        
    </script>

<style>

.btn-guardar {
background-color: #86273e !important;
border-color: #86273e !important;
padding: 7px 20px;
cursor: pointer;
}        
</style>
    
{% endblock %}